* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.motion-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: scale(1.25);
  opacity: 0;
  user-select: none;
  &.active {
    animation-name: motion-wrapper-appear;
  }
  .layer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

@keyframes motion-wrapper-appear {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
