* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.ui-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  .audio-bar {
    width: 100%;
    max-width: 500px;
    height: 3em;
    background-image: url('/assets/ui/audio-wave-start.svg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 3em;
    transform: translateX(-50%);
    z-index: 1;
  }
  .subtitles {
    position: absolute;
    left: 50%;
    bottom: 3em;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
  }
  .motion-wrapper {
    &.active {
      .theater {
        animation-name: motion-wrapper-appear;
      }
    }
    .theater,
    .layer {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .theater {
      transform: scale(1.25);
      opacity: 0;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      .layer {
        object-fit: cover;
      }
    }
  }
}

@keyframes motion-wrapper-appear {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
